{% extends "base.html "%}

{% block titile %}
    {{content.title}}
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<div class="content">
    <div class="container">
        <div class="course-content">
            <div class="title">
                Курс № 1
            </div>
            <div class="sub-title">
                <p>Задание № 1</p>
                <p>Изучение новых слов. Нулевой уровень(Знакомство).</p>
            </div>
            <div class="lesson-body">
                <div class="task" id="task">
                    Изучаем слово - "able", перевод - "способный"
                </div>
                <div class="answer">
                    <textarea name="answer" id="answer" cols="80" rows="5"
                        placeholder="Введите слово на английском:"></textarea>
                    <button class="confirm">подтвердить ввод</button>
                </div>
                <div class="progress" id="progress">
                    <div class="count" id="count">Осталось 28 из 29</div>
                    <div class="progress-bar" id="progress-bar">
                        <div class="scale-div" id="scale-progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}

{% block scripts %}
<script>
    // словарь будет прилетать с бекэнда ждейсоном
    // const listVocabulary = JSON.parse(str);

    const listVocabulary = {
        'able': 'способный',
        'achievement': 'достижение',
        'apply for': 'устраиваться',
        'associate': 'ассоциат',
        'bachelor': 'бакалавр',
        'change': 'менять',
        'create': 'создавать',
        'degree': 'степень',
        'elementary': 'базовый',
        'experience': 'опыт',
        'familiar': 'знакомый',
        'fluent': 'беглый',
        'full-time': 'полная ставка',
        'great': 'огромный',
        'highly': 'высоко',
        'implement': 'внедрить',
        'improve': 'улучшить',
        'intermediate': 'средний',
        'layout': 'формат',
        'operate': 'работать',
        'opportunity': 'возможность',
        'part-time': 'неполная ставка',
        'prioritize': 'расставлять приоритеты',
        'range': 'ряд',
        'reduce': 'снижать',
        'relevant': 'соответствующий',
        'reverse': 'обратный',
        'skills': 'навыки',
        'upper-intermediate': 'выше среднего',
        'update': 'обновлять'
    };

    function getRandomInRange(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function progress(dict_obj) {
        // эта ф-я будет в случайном порядке выводить слова на английском и русском,
        // просить ввести слово на английском, и если не очепятались, 
        // то удалять ключ-значение из словаря(массива ключей), и так пока не останется слов, потом след уровень
        //... вот только разберусь с JS :)
        let list_key = Object.keys(dict_obj); //массив ключей
        console.log(list_key);
        const total_number = list_key.length;  // общее кол-во слов
        let number = 29; // отгадано слов
        let len_list = total_number;
        while (len_list > 0) {
            let item = getRandomInRange(0, len_list - 1);
            let word = list_key[item];
            // delete list_key[item];
            list_key.splice(item, 1);
            len_list -= 1;
            console.log(item, word, dict_obj[word], list_key.length);
        }
        console.log(list_key);
        // document.getElementById('task').innerHTML = "Изучаем слово - \"" + word + "\", перевод - \"" + dict_obj[word] + "\""
        // console.log('associate' == word);
        // console.log('asociate' == word);
        let div_fill = document.getElementById('scale-progress'); // прогресс бар
        div_fill.style.width = (number / total_number * 100) + "%";
        document.getElementById('count').innerHTML = "Осталось " + (total_number - number) + " из " + total_number;
    }
    window.onload = progress(listVocabulary);

</script>

{% endblock %}