<div class="main-header">
    <div class="container">
        <div class="main-logo">
            <img src="https://i.ibb.co/8gDJCMG/logoza-ru.png" alt="logo">
        </div>
        <ul class="main-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/courses">Courses</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/feedback/">Feedback</a>
            </li>
        </ul>
        <div class="contact-phone">
            +7 (777) 777-77-77
        </div>
    </div>
</div>