<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    .main-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .top-body {
        flex: 1 0 auto;
    }

    .main-footer {
        flex: 0 0 auto;
    }

    /* start header */
    .main-header {
        height: 70px;
        width: 100%;
        background: #EEEEEE;
    }

    .main-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .main-header .container .main-nav {
        display: flex;
        width: 500px;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-family: Arial;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
    }

    .main-header .container .main-nav a {
        text-decoration: none;
        color: #3c0879;
    }

    .main-header .container .main-nav a:hover {
        color: #bb0cbb;
    }

    .main-header .main-logo img {
        width: 190px;
        border-radius: 20px;
    }

    .main-header .contact-phone {
        color: #3c0879;
        font-size: 24px;
        font-weight: 600;
    }

    /* end header */

    /* start content */
    .content {
        width: 100%;
        background: #FFFFFF;
    }

    .content .container {
        padding: 5% 0;
    }

    .content .container .index-content {
        display: flex;
        justify-content: space-between;
    }

    .content .container .index-content .text_block {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .content .container .index-content .divider {
        border: none;
        border-top: 2px solid #af5f30;
        width: 30%;
        margin: 30px 0;
    }


    .content .container .index-content .text_block .title {
        font-family: Arial;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: #3c0879;
    }

    .content .container .index-content .text_block .info {
        font-family: Arial;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: #957c76;
    }

    .content .container .index-content .text_block .button {
        cursor: pointer;
    }


    .content .container .index-content .text_block .button a {
        font-family: Arial;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        color: #054070;
        text-decoration: none;
    }

    .content .container .index-content .text_block .button a:hover {
        color: #c01194;
    }

    /* end content */

    /* start course-content */
    .content .container .course-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .content .container .course-content .title {
        font-family: Arial;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: #3c0879;
        margin: 10px 0;
    }

    .content .container .course-content .sub-title {
        font-family: Arial;
        font-size: 20px;
        font-weight: 500;
        color: #3c0879;
        margin: 5px 0;
    }

    .content .container .course-content .lesson-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: Arial;
        font-size: 20px;
        font-weight: 600;
        color: #3c0879;
        margin: 40px 0;
    }

    .content .container .course-content .lesson-body .task {
        margin: 5px 0;
    }

    .content .container .course-content .lesson-body .answer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .content .container .course-content .lesson-body .answer textarea {
        font-family: Arial;
        font-size: 18px;
        font-weight: 600;
        color: #3c0879;
        padding: 10px;
        border-radius: 10px;
        margin: 5px 0;
    }

    .content .container .course-content .lesson-body .answer .confirm {
        width: 800px;
        min-height: 40px;
        margin: 10px 0;
        border-radius: 15px;
        border: none;
        background-color: #e4604c;
        cursor: pointer;
        font-family: Arial;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
    }

    .content .container .course-content .lesson-body .answer .confirm:hover {
        opacity: .8;
    }

    .content .container .course-content .lesson-body .progress {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0;
    }

    .content .container .course-content .lesson-body .progress .progress-bar {
        width: 800px;
        min-height: 20px;
        background-color: #e4d6f5;
        border-radius: 10px;
        margin: 5px 0;
    }

    .content .container .course-content .lesson-body .progress .progress-bar .scale-div {
        width: 800px;
        min-height: 20px;
        background-color: #340a66;
        border-radius: 10px;
    }

    /* end course-content */

    /* start courses content  */

    .content .container .courses-content {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content .container .courses-content .item-course {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }

    .content .container .courses-content .item-course a {
        height: 200px;
        width: 500px;
        background-color: #dfe9fb;
        /* border: 4px solid #6264ca; */
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: Arial;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: #3c0879;
    }

    .content .container .courses-content .item-course a:hover {
        background: #ff8769;
        color: #f4fdee;
        box-shadow: 0 0 15px #3c0879;
    }

    /* end courses content  */

    /* start main-footer */
    .main-footer {
        width: 100%;
        height: 220px;
    }

    .main-footer .footer-body {
        width: 100%;
        height: 180px;
        background: #4c4950;
    }

    .main-footer .copyright {
        width: 100%;
        height: 40px;
        background: #1f1b24;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* end main-footer */

    /* start feedback-content */
    .content .container .feedback-content {
        display: flex;
        justify-content: space-between;
    }

    .content .container .feedback-content .form-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 400px;
    }

    .content .container .feedback-content .form-block .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 56px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        opacity: 0.8;
        background-color: #abbcf3;
    }

    .content .container .feedback-content .form-block .form input[type="email"],
    .content .container .feedback-content .form-block .form input[type="text"] {
        width: 360px;
        height: 40px;
        margin: 10px 0;
        padding: 0px 20px;
        border: none;
        font-size: 18px;
        border-radius: 15px;
        background-color: #eaf1fa;
    }

    .content .container .feedback-content .form-block .form textarea {
        width: 360px;
        min-height: 140px;
        margin: 10px 0;
        padding: 20px 20px;
        border-radius: 15px;
        border: none;
        background-color: #eaf1fa;
        font-size: 18px;
        line-height: 30px;
    }

    .content .container .feedback-content .form-block .form .button {
        width: 400px;
        min-height: 50px;
        margin: 10px 0;
        border-radius: 15px;
        border: none;
        background-color: #e4604c;
        cursor: pointer;
        font-family: Arial;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        color: #eef6fd;
        text-decoration: none;
        text-shadow: 0 0 1px #3c0879;
    }

    .content .container .feedback-content .form-block .form .button:hover {
        opacity: .9;
        box-shadow: 0 0 1px #3c0879;
    }

    /* end feedback-content */

    /* start about-content */
    .content .container .about-content {
        display: flex;
        justify-content: space-between;
    }

    .content .container .about-content .text_block {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .content .container .about-content .divider {
        border: none;
        border-top: 2px solid #af5f30;
        width: 30%;
        margin: 30px 0;
    }


    .content .container .about-content .text_block .title {
        font-family: Arial;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: #3c0879;
    }

    .content .container .about-content .text_block .info {
        font-family: Arial;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: #957c76;
    }

    .content .container .about-content .text_block .button {
        cursor: pointer;
    }


    .content .container .about-content .text_block .button a {
        font-family: Arial;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        color: #054070;
        text-decoration: none;
    }

    .content .container .about-content .text_block .button a:hover {
        color: #c01194;
    }

    /* end about-content */

    /* start not-found-content */

    .content .container .not-found-content img {
        width: 100%;
        margin: 0 auto;
    }

    /* end not-found-content */

    .container {
        width: 75%;
        margin: 0 auto;
    }
</style>