<div class="main-header">
    <div class="container">
        <div class="main-logo">
            <img src="https://i.ibb.co/8gDJCMG/logoza-ru.png" alt="logo">
        </div>
        <ul class="main-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/courses/">Courses</a>
            </li>
            <li>
                <a href="/study-programs/">Schedule</a>
            </li>
            <li>
                <a href="/about/">About</a>
            </li>
            <li>
                <a href="/feedback/">Feedback</a>
            </li>
        </ul>
        <div class="admin">
            <!-- <div class="contact-phone"> -->
            <!-- <a href="/admin/">Adminka</a> -->
            <ul class="topmenu">
                <li><a href="/admin/" class="down">Adminka</a>
                    <ul class="submenu">
                        <li><a href="/admin/">Главная Админки</a></li>
                        <li><a href="/category-list/">Список категорий</a></li>
                        <li><a href="/create-category/">Создать категорию</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>