{% extends "base.html "%}

{% block titile %}
    {{content.title}}
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<div class="content">
    <div class="container">
        <div class="index-content">
            <div class="text_block">
                <div class="title">
                    Английский для IT-специалистов
                </div>
                <div class="divider"></div>
                <div class="info">
                    Данный онлайн курс, является попыткой создать тренажер, для закрепления материала,
                    пройденного
                    на курсе
                    Geekbrains: "Английский для IT-специалистов".
                    На оригинальном курсе разбирается составление CV,
                    технических заданий и деловых писем, собеседования и переговоры,
                    международное общение при продвижении своего проекта. В живых диалогах на английском
                    студенты
                    закрепят фразы, которые пригодятся в работе разработчикам и тестировщикам, маркетологам
                    и
                    дизайнерам.
                    Максимум практики и фокус на IT-лексику.<br />
                    Тут же, можно закрепить(зазубрить) пройденные темы.
                </div>
                <div class="divider"></div>
                <div class="button">
                    <a href="/courses/">Перейти к занятиям</a>
                </div>
            </div>
            <div class="image_block">
                <!-- как вариант без статики :) -->
                <img src="https://i.ibb.co/GCY3Tjs/index-img.png" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}